#title {
    background-color: #1c68c0;
    color: white;
}

h1 {
    padding-top: 15px;
    padding-bottom: 15px;
}
body {
    background-color: #72bcd4;
    background-image: linear-gradient(#72bcd4,#e8f4f8 );
    height: 1300px;
}
h2 {
    text-align: center;
}
#title2 {
    color: white;
    text-align: center;
}

